<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz Settings</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
  </head>
  <body>
    <h1>Quiz Questions</h1>
    <ul style="list-style: none" id="questionList"></ul>
    <ul style="list-style: none">
      <li>
        <label for="questionBox">Question Text</label>
        <textarea id="questionBox" name="questionBox"></textarea>
      </li>
      <li>
        <button onclick="onClickAddQuestion()">Add</button>
      </li>
    </ul>
    <script>
      let questions = [];

      let questionList = document.getElementById("questionList");
      let questionElements = questionList.childNodes;

      let questionBox = document.getElementById("questionBox");

      function updateQuestionById(id) {
        if (!questionElements[id]) {
          questionList.appendChild(document.createElement("li"));
        }

        let question = questionElements[id];
        question.innerHTML = questions[id].question
      }

      function addQuestion(questionText) {
        console.log(questions);

        questions.push({
          question: questionText,
        });
      }

      function onClickAddQuestion() {
        let text = questionBox.value;
        addQuestion(text);
        updateQuestionById(questions.length - 1);
      }
    </script>
  </body>
</html>
