{% extends "logged_in.html" %} {% block title %}Sign In{% endblock %} {% block
head %} {{ super() }} {% endblock %} {% block content %}

<h1>Settings: {{ quiz_name }}</h1>

<form action="/quizzes/{{ quiz_id }}/settings" method="POST">
  <ul style="list-style-type: none">
    <li>
      <label for="quiz_name">Quiz Name</label>
      <input id="quiz_name" name="quiz_name" value="{{ quiz_name }}"" />
    </li>
    <li>
      <label for="quiz_type">Quiz Type</label>
      <select id="quiz_type" name="quiz_type"></select>
    </li>
    <li>
      <input id="quiz_visibility" name="quiz_visibility" type="checkbox" />
      <label for="quiz_visibility">Public Quiz</label>
    </li>
  </ul>
  <input type="submit" />
</form>

<script>
  const quizTypes = [
    "Challenge",
    "Check your Understanding",
    "Research",
    "Normal",
  ];
  let quizTypeSelect = document.getElementById("quiz_type");

  for (quizType of quizTypes) {
    let newOption = document.createElement("option");
    newOption.value = quizType;
    newOption.innerText = quizType;

    quizTypeSelect.appendChild(newOption);
  }

  quizTypeSelect.selectedIndex = str(quizTypes.indexOf(quiz_type));

  document.getElementById("quiz_visibility") = quiz_visibility == "TRUE";
</script>

{% endblock %} {% block footer %} {{ super() }}
<p>This is the footer from the quiz settings child template</p>
{% endblock %}
