{% extends "base.html" %}
{% block content %}
    <h4>My Quizzes</h4>
    <div id="content">
    </div>
    <button class="btn btn-danger active my-2" onclick="window.history.back(-1);return false;">Back</button>
    <form action="/create_quiz" method="post">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control mb-1" id="title" required/>

        <label for="access_code" class="form-label">Access Code</label>
        <input type="text" name="access_code" class="form-control  mb-1" id="access_code" required/>
        <label for="limited_time" class="form-label">Limited Time</label>
        <input type="text" name="limited_time" class="form-control  mb-1" id="limited_time" required/>
        <label for="visibility" class="form-label">Visibility</label>
        <select class="form-select  mb-1" name="visibility" aria-label="Default select example">
            <option selected>Public</option>
            <option>Private</option>
        </select>
{#        <h4>Questions</h4>#}
{#        <div class="mb-3">#}
{#            <h5>Question 1</h5>#}
{#            <label for="questions[][content]" class="form-label">Question</label>#}
{#            <input type="text" class="form-control" name="questions[][content]" id="questions[][content]"/>#}
{#        </div>#}
{#        <div class="mb-3">#}
{#            <h5>Question 2</h5>#}
{#            <label for="questions[][content]" class="form-label">Question</label>#}
{#            <input type="text" class="form-control" name="questions[][content]" id="questions[][content]"/>#}
{#        </div>#}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

