{% extends "logged_out.html" %}

{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
  <h1>Index</h1>
  <p class="important"> Welcome to my awesome homepage.</p>
  <p>ID: {{ user.id }}</p>
  <p>Username: {{ user.username }}</p>
  <p>Password: {{ user.password }}</p>
{% endblock %}

{% block footer %}
  {{ super() }}
  <p>This is the footer from the index child template</p>
{% endblock %}
