{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
  <style>
    .important { color: #336699; }
    .card-body { margin-top: 100px;}
    .alert {list-style: none; width: 250px; text-align: center; margin: 10px auto 0px auto;}
  </style>
{% endblock %}

<!-- content should be center -->
  {% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
        <div class="text-center">
          <div class="alert alert-warning" role="alert">
            <li class="text-center {{ category }}">{{ message }}</li>
          </div>  
        </div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="card  w-50 mb-3 border-0" style="width: 18rem; margin: auto;">
      <div class="card-body">
        <h2 class="card-title text-center">Adaptive Quizlet</h2>
        <p class="card-text">Welcome to Adaptive Quizlet! Here you will have access to quizzes which 
          adapt based on the learner's needs. Available quiz types include Test-your-understanding, 
          Research, and Challenge. We hope you will enjoy this website and try out its interesting features. 
          Happy quiz-taking :) 
        </p>
        <div class="text-center">
            {% if 'user' in session and session['user'] %}
            <a href="logout" class="btn btn-warning">Logout</a>
            <!-- {{session['user']}}
            {{user}}
            {{"1"}} -->
            {% else %}
            <a href="signin" class="btn btn-primary">Sign In</a>
            <a href="signup" class="btn btn-success">Sign Up</a>

            {{user}}
            {% endif %}

        </div>
      </div>
    </div>
{% endblock %}

{% block footer %}
  {{ super() }}
  <!-- <p>This is the footer from the index child template</p> -->
{% endblock %}
