{% extends "logged_out.html" %}

{% block title %}Sign In{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <h1>Sign In</h1>
  <form action="/signin" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required pattern=".+@.+\..+"><br><br>
    <label for="password">Password:</label>
{#       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"#}
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="Submit">
  </form> 
{% endblock %}

{% block footer %}
  {{ super() }}
  <p>This is the footer from the index child template</p>
{% endblock %}
