{% extends "base.html" %}

{% block content %}
  <h3>Hi {{user.name}}, Welcome to Quizlet!</h3>
  <div id="content">
      <div class="mt-2">
        <a class="btn btn-primary active"  href="/available_quizzes">View Available Quizzes</a>
      </div>
      <div class="mt-2">
        <a class="btn btn-primary active"  href="/created_quizzes">View Created Quizzes</a>
      </div>
      <div class="mt-2">
      <div class="mt-2">
        <a class="btn btn-primary active"  href="/create_quiz">Create Quizzes</a>
      </div>
      <div class="mt-2">
  </div>

{% endblock %}

{% block footer %}
<p>Copyright 2021 &copy; COMP231-S2G1</p>
{% endblock %}
