*{
    font-family: Arial, Helvetica, sans-serif;
}

.drop-shadow{
    -webkit-box-shadow: 3px 4px 8px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 8px -5px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 8px -5px rgba(0,0,0,0.75);
}